
  * {
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 100;
    font-size: 20px;
} 

body{
  background-color: azure;
}


.caja {
  display: flex;
  height: 250px;
  flex-wrap: wrap;
}

.caja div {
  flex: 1;
  display: flex;
  margin: 4px;
  border: 1px solid red;
  min-width: 10px;
}

.caja img {
  object-fit: cover;
  width: 100%;
}






